.paginaPerfil {
    .cabecalhoPerfil {
        background-color: $branco;
        .statusPerfil {
            display: flex;
            align-items: center;
            padding: 16px 16px 24px;

            .avatar {
                height: 85px;
                width: 85px;
                margin-right: 24px;
            }
        
            .informacoesPerfil {
                flex: 1;
                display: flex;
                flex-direction: column;

                .btn {
                    margin-top: 12px;
                    padding: 6px;
                    font-size: 12px;
                    border-radius: 4px;
                }

                .statusContainer {
                    display: flex;
                    justify-content: space-around;

                    .status {
                        text-align: center;

                        > strong {
                            font-size: 14px;
                            display: block;
                        }

                        > span {
                            font-size: 12px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}