.paginaPerfil {
    .cabecalhoPerfil {
        background-color: $branco;

        .statusPerfil {
            display: flex;
            align-items: center;
            padding: 16px 16px 24px;

            .avatar {
                height: 85px;
                width: 85px;
                margin-right: 24px;
            }
        
            .informacoesPerfil {
                flex: 1;
                display: flex;
                flex-direction: column;

                .btn {
                    margin-top: 12px;
                    padding: 6px;
                    font-size: 12px;
                    border-radius: 4px;
                }

                .statusContainer {
                    display: flex;
                    justify-content: space-around;

                    .status {
                        text-align: center;

                        > strong {
                            font-size: 14px;
                            display: block;
                        }

                        > span {
                            font-size: 12px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        .cabecalhoPerfil {
            .cabecalhoComAcoes {
                > span {
                    display: none !important;
                }
            }
            
            .statusPerfil {
                .avatar {
                    width: 90px;
                    height: 90px;
                }

                .informacoesPerfil {
                    .btn {
                        padding: 8px;
                    }
                }
            }
        }

    }
}

.paginaEditarPerfil {
    background-color: $branco;

    .conteudoPaginaEditarPerfil {
        .edicaoAvatar {
            margin: 16px 0px;
            text-align: center;

            .avatar {
                width: 80px;
                height: 80px;
                margin-bottom: 2px;
            }

            span {
                font-size: 12px;
                color: $corPrimaria;
                text-decoration: underline;
            }
        }

        .edicaoNome {
            margin: 16px 0px;
            display: flex;
            align-items: center;
            padding: 0px 16px;

            label {
                color: $cinza3;
            }

            input {
                flex: 1;
                border: none;
                outline: none;
                padding: 0px 16px;
                color: $cinza4;
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        display: flex;
        height: 100%;
        flex-direction: column;

        .conteudoPaginaEditarPerfil {
            flex: 1;

            .edicaoAvatar {
                .avatar {
                    width: 120px;
                    height: 120px;
                }

                span {
                    font-size: 14px;
                }
            }

            .edicaoNome {
                
            }
        }
    }
}