.cabecalhoPrincipal {
    border-bottom: 0.5px solid $cinza1;

    .conteudoCabecalhoPrincipal {
        display: flex;
        padding: 8px 16px;

        .logoCabecalhoPrincipal {
            position: relative;
            width: 140px;
            height: 30px;
        }

        .barraPesquisa {
            position: relative;
            flex: 1;
            margin-left: 16px;
            display: flex;
            align-items: center;

            .containerImagemLupa {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 8px;
            }

            input {
                background-color: $corPrimaria4;
                border: none;
                outline: none;
                font-size: 12px;
                padding: 8px 8px 8px 36px;
                font-family: $fontLight;
                border-radius: 4px;
                color: $corPrimaria;

                &:focus {
                    border: 1px solid $corPrimaria;
                }
            }
        }
    }

    .resultadoPesquisaContainer {
        position: absolute;
        background-color: $branco;
        width: 100%;
        z-index: 9;

        .resultadoPesquisa {
            display: flex;
            padding: 10px 16px;

            &:hover {
                background-color: $cinza;
            }

            .avatar {
                height: 32px;
                width: 32px;
                margin-right: 8px;
            }

            .informacoesUsuario {
                > * {
                    display: block;
                    font-size: 12px;
                    color: $cinza4;
                }
            }
        }
    }

    @media screen and (min-width: $desktopBreakpoint) {
        background-color: $branco;
        border: none;
        margin-bottom: 30px;

        .conteudoCabecalhoPrincipal {
            max-width: 60%;
            margin: auto;
            align-items: center;
            justify-content: center;

            .logoCabecalhoPrincipal {
                width: 200px;
                cursor: pointer;
            }

            .barraPesquisa {
                flex: 0.5;
                margin: 0px 5px 0px 30px;

                input {
                    width: 100%;
                }
            }

            .barraNavegacao {
                ul {
                    li {
                        margin: 0px 0px 0px 20px;
                    }
                }
            }
        }

        .resultadoPesquisaContainer {
            width: 25%;
            margin: auto;
            cursor: pointer;
            right: 0;
            left: 7%;
            box-shadow: 0px 4px 5px $cinza1;
        }
    }
}