@font-face {
    font-family: 'Biennale Regular';
    src: url('BiennaleRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Biennale Bold';
    src: url('BiennaleBold.otf') format('opentype');
}

@font-face {
    font-family: 'Biennale Light';
    src: url('BiennaleLight.otf') format('opentype');
}