.cabecalhoComAcoes {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    h3 {
        font-family: $fontBold;
        font-size: 16px;
        text-align: center;
        flex: 1;
    }

    .cabecalhoComAcoesTextoEsquerda {
        font-size: 12px;
        color: $cinza3;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .btnAcaoDireita {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        cursor: pointer;
        color: $corPrimaria;
        font-family: $fontBold;
        font-size: 12px;
    }

    @media screen and (min-width: $desktopBreakpoint) {
        .cabecalhoComAcoesTextoEsquerda, .btnAcaoDireita {
            font-size: 14px;
        }
    }
}