@import 'variaveis.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.oculto {
  display: none;
}

@import '../public/fonts/fonts.scss';
@import '../componentes/botao/botao.scss';