$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$corPrimaria: #5E49FF;
$corPrimaria3: #25CBD3;
$corPrimaria4: #F0F5FF;

$cinza: #F4F4F4;
$cinza1: #DADADA;
$cinza2: #7C7786;
$cinza3: #4D4C4D;
$cinza4: #333333;
$cinza5: #E5E5E5;
$branco: #FFF;
$vermelho: #FF0000;

$desktopBreakpoint: 992px;